body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: #ffffff;
}
<h1{
    color:bisque
}
a{
    color: aqua;
}
ul > li{
    font-weight: bold;
}
h1 + p{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
ul li:hover {
    color: aliceblue;
}
ul li:nth-child(3){
    background-color: azure;
}
p: :not(:first-of-type)
    text-decoration: underline;
}
ul li::before{
    content: " rocket ";

}